.container-fluid__sandbox {
    overflow-y: auto;
    scrollbar-width: thin;
    margin-inline: 0rem;
    display: flex;
    flex-direction: column;

    .query-wrapper {
        overflow-y: scroll;
    }

    .header-wrap {
        .Button {
            padding: 0.3rem 1rem;
      
        }
        svg {
            vertical-align: middle;
            height: 1.5rem;
            width: 1.5rem;
        }


        .card {
            max-width: 60rem;
            padding-inline: 0;
            padding-block: 0;
            justify-content: center;
            height: auto;

            .card-body {
                padding-inline: 0.5rem;
                padding-block: 0.2rem;
            }

        }
        
    }

    .wrapper-iframe {
        .iframe {
            scrollbar-width: thin;
            height: 99vh;
        }
    }

    svg {
        vertical-align: middle;
        height: 2rem;
        width: 2rem;
    }
}
.offcanvas-backdrop{
    background-color: #fff !important;
}

.offcanvas {
    overflow-y: auto;
    height: 27rem !important;
    .form-control {
        &:focus {
            box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, 0.25);
        }
    }
    
    .form-select {
        &:focus {
            box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, 0.25);
    
        }
    }
    
    .accordion-button {
        &:focus {
            box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, 0.25);
    
        }
    }

    .offcanvas-top {
        border-bottom: 0.2rem solid black;
    }

    .offcanvas-header {
        align-items: center;
        justify-content: space-evenly;
    }

    .accordion-header {
        position: relative;

        .add-param-button {
            position: absolute;
            right: 7.5vw;
            z-index: 1200;
            border: 0.1rem solid rgba(207, 226, 255, 1);
            border-radius: 0.2rem;
            background-color: rgba(207, 226, 255, 0.5);

            &:hover {
                border: 0.1rem solid black;

                background-color: rgba(207, 226, 255, 1);

            }
        }

    }

    .query-wrapper {
        height: 12rem;
        overflow-y: scroll;
        scrollbar-width: thin;
    }
}


