@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";
/* Import only the scales you need */
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/white-alpha.css";

.Button {
	all: unset;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.4rem;
	padding: 0.3rem 0.6rem;
	font-size: 1rem;
	line-height: 1;
	font-weight: 500;
	height: 1.5rem;
	user-select: none;


	&:focus:not(:focus-visible) {
		outline: 0.2rem;
	}
}

.violet {
	background-color: rgba(0, 134, 240, 0.7) !important;
	color: whitesmoke !important;
	outline-color: #0086F0FA !important;

	// &:focus-visible,
	// :focus {

	// 	border: 2px solid #2c1ef3;
	// }

	&:hover {
		color: whitesmoke !important;
		background-color: rgba(0, 134, 240, 0.98) !important;
	}
}

.gray {
	color: #1f2328;
	border: 0.1rem solid #d1d9e0;
	box-shadow: 0px 1px 0px 0px #1f23280a;

	&:focus-visible {
		padding: 0.3rem 1.2rem;
		border: 2px solid #2c1ef3;

	}

	&:hover {

		background-color: #eceef0;

	}
}

.mauve {
	background-color: rgba(229, 229, 229, 0.8) !important;
	color: var(--black-alpha-11) !important;
	outline-color: rgba(229, 229, 229, 0.8) !important;

	&:hover {
		color: var(--black-alpha-11) !important;
		background-color: rgba(229, 229, 229, 1) !important;
	}
}

.red {
	background-color: #f6f8fa !important;
	color: #a40e26 !important;
	border: 0.1rem solid #d1d9e0;
	box-shadow: 0px 1px 0px 0px #1f23280a;

	&:focus-visible {
		padding: 0.3rem 1.2rem;
		border: 2px solid #2c1ef3;
	}

	&:hover {
		background-color: #a40e26 !important;
		color: #f6f8fa !important;
	}
}

.green {
	background-color: #f6f8fa;
	color: #1E451C;
	border: 0.1rem solid #d1d9e0;
	box-shadow: 0px 1px 0px 0px #1f23280a;

	&:hover {
		color: #F7F7F7;
		background-color: #1E451C;
	}
}