// @use '../src/Styles/extends';
// @import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
// $table-hover-bg: #dd1616;
@import "bootstrap/scss/variables";

@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

$utilities: map-merge($utilities,
    ("color": map-merge(map-get($utilities, "color"),
        (values: map-merge(map-get(map-get($utilities, "color"), "values"),
            ($all-colors ),
          ),
        ),
      ),
    ));

$body-bg: #cccccc;
$body-color: #999999;
// $font-family-sans-serif: "Poppins";

$enable-grid-classes: false;
$enable-cssgrid: true;

@import "bootstrap/scss/utilities/api";
@import "bootstrap/scss/bootstrap";

// @import "../node_modules/bootstrap/scss/bootstrap";



html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// .wrapper{
//   display: flex ;
//   position: relative;
//   flex-direction: column;
//   min-height: 100vh;
//   main{
//     position: absolute;
//     min-height: 80vh;
//     /* flex: 1 !important; */
//     padding: 20px;
//   }
//   .mainfooter {
//     /* background: #333; */
//     color: white;
//     text-align: center;
//     padding: 10px;
//     margin-top: auto;
//   }
// }

// Layout Styles
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.navbar-main {
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  color: rgb(246, 248, 250);
  background-color: rgb(246, 248, 250);
  background-color: rgb(37, 41, 46);
  height: 5rem;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  font-weight: 400;

  ul {
    margin-bottom: 0;
    list-style-type: none;

    li {
      text-decoration: none;

      a {
        text-decoration: none;
        color: rgb(246, 248, 250);
        font-size: 1rem;
        padding-inline: 1rem;
        padding-block: 0.4rem;
        border-radius: 0.5rem;
        font-weight: 500;



        &:focus-visible {
          border: 2px solid #2c1ef3;
          // color: rgb(37, 41, 46);
          // background-color: #e6eaef;
          // padding-inline: 1.4rem;
          // padding-block: 1rem;
          // border-radius: 0.5rem;
          // border: 0.2rem solid blue;
        }

        &:focus {
          // outline: 2px solid rgba(255, 255, 255,0.4);
          // color: rgb(37, 41, 46);
          // // background-color: rgba(229, 229, 229, 0.4);
          // background-color:#e6eaef;
          // padding-inline: 1rem;
          // padding-block: 0.4rem;
          // border-bottom: 0.2rem solid rgb(253, 140, 115);
          // font-weight: 500;
          // background-color: rgba(229, 229, 229, 0.4);
          // padding-inline: 1rem;
          // padding-block: 0.4rem;
          // outline-offset: 0.2rem;

        }

        &:hover {
          // color: rgb(37, 41, 46);

          font-weight: 500;
          background-color: rgba(229, 229, 229, 0.4);
          padding-inline: 1rem;
          padding-block: 0.4rem;
          // outline-offset: 0.2rem;
        
          // border-bottom: 0.2rem solid rgb(253, 140, 115);

          // border-radius: 0.5rem;
          // border: 0.2rem solid #000;


        }

        // &:active {
        //   color: whitesmoke;
        //   background-color: rgba(229, 229, 229, 0.4);
        //   padding-inline: 0.6rem;
        //   padding-block: 0.4rem;
        //   border-radius: 0.5rem;
        //   // border: 0.3em solid #000;

        // }
      }

      .active-head {
        // color: whitesmoke;
        // background-color: rgba(229, 229, 229, 0.4);
        // outline: ;
        // border: 0.2rem solid rgb(253, 140, 115);

        padding-inline: 1rem;
        padding-block: 0.4rem;
        outline-offset: 0.2rem;
        border-block-end:0.2rem solid rgb(253, 140, 115) ;
        // border-radius: 0.5rem;
        // border: 0.2rem solid #000;

        // border: 0.2rem solid #000;
      }

    }
  }
}

.detials-mentor {
  // flex-direction: row;
  gap: 1rem;
  align-items: center;

  .details-card {
    justify-content: space-between;



    .card {
      // height: 15rem;
      // min-height: 17rem;
      // max-height: 25rem;
      overflow-y: auto;
    }


  }


}

.wrapper {

  display: flex;
  flex-direction: column;

  // min-height: 100vh; // Ensure the entire wrapper is at least full viewport height
  .loading {
    opacity: 0.4;
    /* Start fully transparent */
    animation: fadeInAnimation 5s forwards;
    /* 2s duration */
  }

  @keyframes loading {
    to {
      opacity: 1;
      /* End fully opaque */
    }
  }

  main {
    // margin-top: 4rem;
    // flex-grow: 1;
    min-height: 100vh; // Ensures at least full viewport height
    // padding: 3rem; // Extra top padding to prevent content from being hidden behind the fixed navbar

    .main-home-wrapper {
      // position: absolute;
      // top: 0;
      // background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-teachers-day-background-creative-synthesis-classroom-blackboard-image_13292.jpg);
      // background-size: cover;
      // background-position: center;
      // background-repeat: no-repeat;
      // min-height: 100vh;
      width: 100%;
      padding: 2rem;

      .box {
        display: flex;
        align-items: center;
        margin-block: 1rem;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
        cursor: pointer;

        .card-style {
          opacity: 0.8;

          .card-image {
            background-position: 100%;
            background-size: contain;
            background-repeat: no-repeat;
          }

          &:hover {
            transform: scale(1.1);
            opacity: 1;
            transition: transform 0.3s ease, opacity 0.3s ease;
          }
        }
      }
    }
  }




  .mainfooter {
    width: 100%;
    color: white !important;
    text-align: center;
    padding: 10px;
    background-color: #001219;

    .footer {
      justify-content: space-around;
      gap: 2rem;
      font-size: medium;
      color: #fff !important;

      li {

        a {
          text-decoration: none;
          color: white;
        }
      }
    }

    // height: 20vh;
  }
}








/* for...........768px */
@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .wrapper {
    main {
      .main-home-wrapper {
        background-color: "#F9F9F9";
        background-image: none;

        .box {
          .card-style {
            width: 15rem;
          }
        }
      }

      .mentors {
        margin-block: 0.5rem;
        margin-inline: 3.5rem;
        align-content: center;

        .add-button {
          right: 4rem;
        }
      }

      .edit-content {
        padding-block: 2rem;
        padding-inline: 3rem;
        margin-top: 55%;
        width: 75vw;
        margin-left: 50%;
        max-width: 75vw;
        max-height: 70vh;
      }

      .edit-content-create {
        padding-block: 2rem;
        padding-inline: 2rem;
        margin-top: 40%;
        width: 75vw;
        margin-left: 50%;
        // max-height: 60vh;
        .back{
          top: -10%;
		left: 86%;
        }
      }

    }
  }

}

/* For................. 576px */
@media only screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }

  .wrapper {
    .main-home-wrapper {
      .box {
        flex-direction: column;
        // .card{
        //   width: 14rem;
        // }

        .card-style {
          width: 10rem;
        }
      }
    }

    .mentors {
      margin-block: 0.5rem;
      margin-inline: 2rem;
      align-content: center;

      .table {
        width: 80%;
      }

      .page {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        align-content: center;

        .page-wrap {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
      }

      .Content-delete {
        top: 40%;
        left: 50%;
        width: 50vw;
        padding: 1rem;
        overflow-y: scroll;
      }
    }

    .mainfooter {
      /* Add styles for .mainfooter if needed */
    }

    .edit-content-create {
      padding-block: 2rem;
      padding-inline: 3rem;
      margin-top: 80% !important;
      width: 75vw !important;
      margin-left: 50%;
      max-width: 75vw;
      // max-height: 70vh;
      .back{
        top: -6%;
        left: 77%;

      }
    }

    .edit-iconButton {
      top: 2rem;
      right: 4rem;
    }

    .detials-mentor {
      // flex-direction: column;
      gap: 2rem;
      align-items: center;

      .details-card {
        display: flex;
        flex-direction: column;

        .card {
          // height: 15rem;
          // width: 80%;
          // min-height: 17rem;
          // max-height: 25rem;
          overflow-y: auto;
        }
      }

    }
  }

  .edit-content {
    padding-block: 2rem;
    padding-inline: 2rem;
    top: 55% !important;
    width: 75vw !important;
    left: 50%;
    max-width: 75vw;
    max-height: 60vh;
  }
}