// @use '../Styles/extends';
// @import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";


$table-hover-color:           #000;
$table-hover-bg-factor:       .075;
$table-hover-bg:           rgba(229, 229, 229, 0.4)  ;
// $body-color: #333;
// $body-bg: #fff;
// $border-radius: .4rem;
// $success: #7952b3;
// @import 'Styles/extends';
$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

$utilities: map-merge($utilities,
    ("color": map-merge(map-get($utilities, "color"),
        (values: map-merge(map-get(map-get($utilities, "color"), "values"),
            ($all-colors ),
          ),
        ),
      ),
    ));

@import "bootstrap/scss/utilities/api";
@import "bootstrap/scss/bootstrap";





// .container-fluid {
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   left: 0;
//   color: #fff;
//   background-color: #001219;
//   margin: 0;
//   height: 4.5rem;
//   display: flex;
//   flex-direction: row;
//   gap: 1.5rem;
//   align-items: center;
//   justify-content: space-around;

//   ul {
//     margin-bottom: 0;
//     list-style-type: none;

//     li {
//       text-decoration: none;

//       a {
//         text-decoration: none;
//         color: white;
//       }
//     }
//   }
// }
