<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <h1>hello kirn</h1>
      <p>There are two ways to use the <code>iframe</code> element:</p>
      <ol>
        <li><a href='"about:srcdoc#embed_another"'>To embed content from another page</a></li>
        <li><a href='"about:srcdoc#embed_user"'>To embed user-generated content</a></li>
      </ol>
      <h2 id='"embed_another"'>Embedding content from another page</h2>
      <p>Use the <code>src</code> attribute to specify the URL of the page to embed:</p>
      <pre><code>&amp;lt;iframe src=&quot;https://example.org&quot;&amp;gt;&amp;lt;/iframe&amp;gt;</code></pre>
      <h2 id='"embed_user"'>Embedding user-generated content</h2>
      <p>Use the <code>srcdoc</code> attribute to specify the content to embed. This post is already an example!</p>
    </main>
  </body>
</html>
